scripts=[
  "
  create path /apps/sscp(sling:Folder)
  create path (sling:Folder) /content/dam(sling:Folder)/jcr:content(nt:unstructured)
  create path (sling:OrderedFolder) /content/dam/sscp
  create path (nt:unstructured) /content/dam/sscp/jcr:content
  create path (sling:OrderedFolder) /content/sscp(cq:Page)/jcr:content(cq:PageContent)

  create path (sling:OrderedFolder) /tmp/content/
  create path (sling:OrderedFolder) /tmp/content/vue

  create path (sling:OrderedFolder) /content/sscp(cq:Page)/toyota(cq:Page)
  create path (sling:OrderedFolder) /content/sscp(cq:Page)/powertorque(cq:Page)
  create path (sling:OrderedFolder) /content/sscp(cq:Page)/hino(cq:Page)
  create path (sling:OrderedFolder) /content/sscp(cq:Page)/lexus(cq:Page)
  create path (sling:OrderedFolder) /content/sscp(cq:Page)/blueprint(cq:Page)
  create path (sling:OrderedFolder) /content/sscp(cq:Page)/showcase(cq:Page)
  create path (sling:OrderedFolder) /content/sscp(cq:Page)/suzuki(cq:Page)
  create path (sling:OrderedFolder) /content/sscp(cq:Page)/mazda(cq:Page)
  create path (sling:OrderedFolder) /content/sscp(cq:Page)/power-alliance(cq:Page)


  create service user sscp-system with path /home/users/system
  set ACL on /apps/sscp
    allow jcr:all for sscp-system
  end
  set ACL on /content
    allow jcr:read for sscp-system
  end
  set ACL on /tmp
    allow jcr:read for sscp-system
  end
  "
]
